{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
    <title>Criar ponto de coleta</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="style/create-point.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}

    <form action="">

        <h1>Cadastro do ponto de coleta</h1>

        <fieldset>
            <legend>
                <h2>Dados da entidade</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="name">Nome da entidade</label>
                    <input type="text" name="name" required="required">
                </div>
                <div class="field">
                    <label for="name">Imagen da entidade</label>
                    <input type="url" name="image" placeholder="https://" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required="required">

                </div>
                <div class="field">
                    <label for="address">Número/Complemento</label>
                    <input type="number" name="address2" required="required">
                </div>
            </div>

            <div class="field-group">

                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o estado</option>

                    </select>
                </div>

                <div class="field">
                    <label for="state">Cidade</label>
                    <select name="city" disabled="disabled" required="required">
                        <option value="">Selecione a cidade</option>
                    </select>

                    <input type="hidden" name="state">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <h2>Itens de coleta
                    <span>Selecione um ou mais itens abaixo</span>
                </h2>
            </legend>

            <div class="items-grid">
                <li data-id="1">
                    <img src="icons/lampadas.svg" alt="lampadas">
                    <span>Lampadas</span>
                </li>

                <li data-id="2">
                    <img src="icons/baterias.svg" alt="Pilhas e Baterias">
                    <span>Pilhas e Baterias</span>
                </li>

                <li data-id="3">
                    <img src="icons/papeis-papelao.svg" alt="Papéis e Papelão">
                    <span>Papéis e Papelão</span>
                </li>

                <li data-id="4">
                    <img src="icons/eletronicos.svg" alt="Resídos e Eletronicos">
                    <span>Resídos e Eletronicos</span>
                </li>

                <li data-id="5">
                    <img src="icons/organicos.svg" alt="Resídos Organicos">
                    <span>Resídos Organicos</span>
                </li>

                <li data-id="6">
                    <img src="icons/oleo.svg" alt="Óleo de Cozinha">
                    <span>Óleo de Cozinha</span>
                </li>
            </div>

            <input type="hidden" name="items">

        </fieldset>
        <button type="submit">Cadastra ponto de coleta</button>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="scripts/create-point.js"></script>
{% endblock scripts %}